button.btn.float-end{
    margin-top: -40px;
    position: absolute;
    margin-left: 429px;
}
p.mr-2 {
    margin-right: 58px;
}
button.btn.bg-dark {
    margin-top: -35px;
    /* margin-left: 796px; */
}
img.we-251.float-end {
    height: 56px!important;
    margin-top: 34px

}
h5.modal-tittle {
    margin-left:185px;
}